    <h4 class="my-3">登録されている店舗</h4>
     <table class="table table-sortable">
      <thead class="thead-dark">
      <tr>
      <th>店舗画像</th>
      <th>店舗名</th>
      <th>住所</th>
      <th></th>
      <th></th>
      </tr>
     </thead>
     <tbody class="bg-light">
       <% shops.each do |shop| %>
       <tr class="item(data = { model_name: shop.class.name.underscore, update_url: shop_sort_path(shop) })">
         <td>
         <%= link_to shop_path(shop.id) do %>
         <%= attachment_image_tag shop, :image, size: '200x150', format: 'jpg', fallback: "no_iamge.jpg" %>
         <% end %>
         </td>
         <td>
           <%= link_to shop_products_path(shop.id) do %>
           <%= shop.shop_name %>
           <% end %>
          </td>
         <td><%= shop.address %></td>
         <td><%= link_to "", shop_path(shop), class: "fas fa-store-alt" %></td>
         <% if @user == current_user %>
         <td><%= link_to "", edit_shop_path(shop.id), class: "fas fa-edit" %></td>
         <td><%= link_to "", shop_path(shop.id), method: :delete, class: "fas fa-trash-alt" %></td>
         <% end %>
       </tr>
       <% end %>
       <%= paginate shops %>
     </tbody>
    </table>

