    <div clas>
      <h4 class="mb-5">店舗登録</h4>
      <%= form_with model: shop, local:true do |f| %>
        <div class="form-group d-flex flex-wrap">
          <%= "店舗画像　　" %><br />
          <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
        </div>
        <div class="form-group d-flex flex-wrap">
          <%= f.label :shop_name, "店舗名　　　", class: "mr-3 " %><br />
          <%= f.text_area :shop_name %>
        </div>
        <div class="form-group d-flex flex-wrap">
          <%= f.label :address, "住所　　　　", class: "mr-3 " %><br />
          <%= f.text_area :address %>
        </div>
        <div class="form-group d-flex flex-wrap">
          <%= f.label :comment, "店舗コメント", class: "mr-3 " %><br />
          <%= f.text_area :comment,size: "20x5" %>
        </div>
        <div class="form-group d-flex flex-wrap">
          <%= f.submit "新規登録", class:"btn-float-border-new"  %>
        </div>
     <% end %>
    </div>