<div class="comments">
  <p>コメント件数:<%= shop.shop_comments.count %></p>
  <% shop.shop_comments.each do |shop_comment| %>
  <p><%= image_tag attachment_url(shop_comment.user, :image, :fill, 50, 50, fallback: "no_image.jpeg"), size:'50x50' %></p>
  <%= shop_comment.user.name %>
  <%= shop_comment.created_at.strftime('%Y/%m/%d') %><%= shop_comment.comment %>
  <% end %>
</div>
<div class="new-comment">
  <%= form_with(model:[@shop, @shop_comment], local: true) do |f| %>
   <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
   <%= f.submit "送信する" %>
  <% end %>
</div>