<div class="bglayout py-5">
<div class="container", style = "height:400px;">
<h4 class="mb-5">店舗編集</h4>
<%= form_with model: @shop, local:true do |f| %>
  <div class="d-flex flex-wrap">
    <%="店舗画像　　" %><br />
    <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
  </div>
  <div class="d-flex flex-wrap my-3">
    <%= f.label :shop_name, "店舗名　　　　", class: "mr-3 " %><br />
    <%= f.text_field :shop_name %>
  </div>
  <div class="d-flex flex-wrap">
    <%= f.label :address, "住所　　　　　", class: "mr-3 " %><br />
    <%= f.text_field :address %>
  </div>
  <div class="d-flex flex-wrap my-3">
    <%= f.label :comment, "店舗コメント　", class: "mr-3 " %><br />
    <%= f.text_area :comment, size:"20x5" %>
  </div>
  <div class="d-flex flex-wrap">
    <%= f.submit "更新", class:"btn-float-border-new" %>
  </div>
<% end %>
</div>
</div>