    <div class="bglayout py-5">
    <div class="container">
    <div class="mt-4">
    <div class="container mt-3">
    <div class="search-form text-right">
      <%= form_with url: searchs_searches_path, method: :get, local: true do |f| %>
        <%= f.text_field :content %>
        <%= f.select :model , options_for_select({ "店舗名" => "shop_name", "住所" => "address" }) %>
        <button type="submit" class="btn btn-sm btn-secondary">
          <i class="fas fa-search"></i> 検索
        </button>
      <% end %>
    </div>
    </div>
    <%= render "shops/favorite_search", shop: @shop %> <!--いいね並び替え検索-->
    <h4 class="mb-3">店舗一覧</h4>
     <table class="table">
      <thead class="thead-dark">
      <tr>
      <th>店舗画像</th>
      <th>店舗名</th>
      <th>住所</th>
      </tr>
     </thead>
     <tbody class="bg-light table-sortable">
       <% @shops.each do |shop| %>
       <tr>
        <%= content_tag "tr", class: "item", data: { model_name: shop.class.name.underscore, update_url: shop_sort_path(shop)} do %>
         <td>
         <%= link_to shop_path(shop.id) do %>
         <%= attachment_image_tag shop, :image, size: '200x150', formate: 'jpg', fallback: "no_iamge.jpg" %>
         <% end %>
         </td>
         <td class="pt-4">
           <%= link_to shop_path(shop.id) do %>
           <%= shop.shop_name %>
           <% end %>
          </td>
          <td class="pt-4"><%= shop.address %></td>
       </tr>
       <% end %>
       <% end %>
       <%#= paginate @shops %>
     </tbody>
    </table>
    </div>
    </div>
    </div>
    

