<div class="bglayout py-5">
  <div class="container">
  <h4 class="mb-5">店舗編集</h4>
  <%= form_with model: [@user, @cook], local:true do |f| %>
  <div class="form-group d-flex flex-wrap">
    <%="料理画像　　" %><br />
    <%= f.attachment_field :image, placeholder: "ファイルを選択";%>
  </div>
  <div class="d-flex flex-wrap my-3">
    <%= f.label :cook_name, "料理名　　　　", class: "mr-3 " %><br />
    <%= f.text_field :cook_name %>
  </div>
  <div class="d-flex flex-wrap">
    <%= f.label :cook_material, "材料　　　　　", class: "mr-3 " %><br />
    <%= f.text_area :cook_material, size:"20x5" %>
  </div>
  <div class="d-flex flex-wrap my-3">
    <%= f.label :cook_method, "作り方　　　　", class: "mr-3 " %><br />
    <%= f.text_area :cook_method, size:"20x5" %>
  </div>
  <div class="d-flex flex-wrap">
    <%= f.label :tag_name, "タグの編集　　", class: "mr-3 " %><br />
    <%= f.text_field :tag_name %>
  </div>
  <div class="form-group d-flex flex-wrap">
    <%= f.submit "更新", class:"btn-float-border-edit" %>
  </div>
  <% end %>
  </div>
</div>
