<div class="bglayout py-5">
<div class="container">
  <div class="mt-4 d-flex flex-wrap">
  <div class="col-xs-12 col-md-6">
    <div>
    <%= render "cooks/user_cook_info", user: @user %>
    </div>
      <h4 class="mb-5">料理登録</h4>
      <%= form_with model: [@user, @cook], local:true do |f| %>
        <div class="d-flex flex-wrap">
          <%= "料理画像" %><br />
          <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
        </div>
        <div class="d-flex flex-wrap my-3">
          <%= f.label :cook_name, "料理名　　　　", class: "mr-3 " %><br />
          <%= f.text_area :cook_name %>
        </div>
        <div class="d-flex flex-wrap">
          <%= f.label :cook_material, "材料　　　　　", class: "mr-3 " %><br />
          <%= f.text_area :cook_material,size: "20x5" %>
        </div>
        <div class="d-flex flex-wrap my-3">
          <%= f.label :cook_method, "作り方　　　　", class: "mr-3 " %><br />
          <%= f.text_area :cook_method,size: "20x5" %>
        </div>
        <div class="d-flex flex-wrap" style="line-height:2.5rem">
          <%= "スペースを入力することで複数のタグを付けることができます。" %><br />
          <%= "例：音楽 文芸 スポーツ" %><br/>
          <%= f.text_field :tag_name %>
        </div>
        <div class="form-group d-flex flex-wrap">
          <%= f.submit "新規登録", class: "btn-float-border-edit"; %>
        </div>
     <% end %>
    </div>
  <div class="col-xs-12 col-md-6">
  <%= render "cooks/tag_lists", cook_tags: @cook_tags %><!--タグリスト-->
    <h4 class="mt-4">登録されている料理</h4>
    <div class="d-flex flex-wrap">
      <% @cooks.each do |cooks| %>
            <div class="mr-3">
              <div class="my-4">
              <%= link_to user_cook_path(@user, cooks) do %>
              <%= attachment_image_tag cooks, :image, size: '200x150', formate: 'jpg', fallback: "no_iamge.jpg" %>
              <% end %>
              </div>
              <div>
              <%= link_to user_cook_path(@user, cooks.id) do %>
              <%= cooks.cook_name %>
              <% end %>
              </div>
            </div>
      <% end %>
    </div>
      <%= paginate @cooks %>
  </div>
  </div>
</div>
</div>
