<div class="bglayout py-5">
<div class="container">
<h2> 投稿一覧</h2>
<div class="border-bottom border-dark">
<%= render "cooks/tag_lists", cook_tags: @cook_tags %><!--タグリスト-->
</div>
<br>
<div class="my-1">
<h4>タグによって絞り込んだ投稿一覧</h4><%= link_to "戻る", cooks_path, class:"fas fa-undo" %>
</div>
<br>
<%= "タグが ─ " %>
<strong><%= "#{@tag.tag_name}" %></strong>
<%= " ─ の投稿一覧" %>
<br>
<div class="d-flex flex-wrap">
  <% @cooks.each do |post| %>
    <div class="mr-3">
      <div class="my-3">
        <%= image_tag attachment_url(post, :image, :fill, 100, 100, fallback: "no_image.jpeg"), size: '100x100' %>
      </div>
      <div>
        <%= link_to post.cook_name, cook_path(post.id) %>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @cooks %>
</div>
</div>