<div class="bglayout py-5">
  <div class="container">
   <div class="mt-4 w-100">
    <h4>商品詳細</h4>
     <div class="d-flex flex-wrap">
      <div class="d-flex  flex-wrap col-xs-5 col-sm-7">
       <div class="mr-3">
         <%= image_tag attachment_url(@cook, :image, fallback: "no_image.jpg"), size:'200x200' %>
       </div>
       <div>
         <table class="table table-borderless">
           <tr><th>料理名</th></tr><tr><td><%= @cook.cook_name %></td></tr>
           <tr><th>材料</th></tr><tr><td style="width: 100px;"><%= render "cooks/ModalMaterial" %></td></tr>
         </table>
        </div>
        </div>
        <div class="col-sm-5 methodresponsive">
          <h5>作り方</h5>
          <div class="mt-1 p-3 text-break"><%= render "cooks/ModalMethod" %></div>
          <div class="mt-5">
            <% if @user == current_user %>
             <%= link_to "編集する", edit_user_cook_path(@user, @cook), class: "fas fa-edit" %>
             <%= link_to "削除する", user_cook_path(@user, @cook), method: :delete, class: "fas fa-trash-alt mx-3" %>
            <% end %>
             <%= link_to "戻る", user_cooks_path, class: "fas fa-undo" %>
             <div class="mt-3">
             <%= render "cooks/tag_lists", cook_tags: @cook_tags %><!--タグの記述-->
             </div>
          </div>
        </div>
     </div>
     </div>
    </div>
  </div>
</div>



