
<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody class="bg-light">
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag attachment_url(user, :image, :fill, 50, 50, fallback: "no_image.jpeg"), size:'50x50', class:"rounded-circle" %></td>
        <td class="pt-4"><%= user.name %></td>
        <td class="pt-4">フォロー数: <%= link_to user.followings.count, user_followings_path(user) %></td>
        <td class="pt-4">フォロワー数: <%= link_to user.followers.count, user_followers_path(user) %></td>
        <td class="pt-4">
          <% if current_user != user %>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", user_relationships_path(user.id), class:"btn-float-border-unwithdrow rounded-pill", method: :delete %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(user.id), class:"btn-float-border-unwithdrow rounded-pill", method: :post %>
            <% end %>
          <% end %>
        </td>
        <td class="pt-4"><%= link_to '利用者ページ', user_path(user), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

