<div class="container">
 <div class="mx-auto">
 <%= image_tag attachment_url(@user, :bgimage, :fill, 300, 300, fallback: "no_image.jpeg"), size:'800x200', class: "col-sm-12" %>
 <%= render "users/user-info", user: @user %>
 </div>
</div>
<div class="container d-flex wrap mt-5">
  <div>
   <%= render "shops/shop-new", shop: @shop %>
  </div>
  <div>
   <div class="container mt-3">
   <div class="search-form text-right">
     <%= form_with url: search_path, method: :get, local: true do |f| %>
       <%= f.text_field :content %>
       <%= f.select :model , options_for_select({ "店舗名" => "shop_name", "住所" => "address" }) %>
       <button type="submit" class="btn btn-sm btn-secondary">
         <i class="fas fa-search"></i> 検索
       </button>
     <% end %>
   </div>
   </div>
   <div class="ml-3"><%= render "shops/my-shop", shops: @shops %></div>
  </div>
</div>

