<div class="aboutimage text-center d-flex align-items-center justify-content-center ">
 <div>
  <h1>
    買い物を楽しもう！！ <br>
    貴方のためのメモアプリ
  </h1>
  <h4 class="mt-3">KAIMONO JAWSで自分だけのメモアプリを作っていこう</h4>
  </div>
 </div><!--1段目終わり-->
 <div class="text-center d-flex align-items-center justify-content-center w-100" style="height: 300px;">
  <div>
    <div class="d-flex wrap justify-content-center mb-3">
      <h1 class="far fa-question-circle mb-4"></h1>
        <div>
          <div class="text-center mx-3">
           <div class="image-jaws2 mx-auto"></div>
           <h4 class="text-rogo text-dark">KAIMONO JAWS</h4>
            <p class="text-sbrogo text-dark">EASY TO USE NOTEPAD</p>
          </div>
        </div>
       <h1 class="mt-5">とは</h1>
    </div>
    <h4>お気に入りのお店を登録し複数人と共有することができるアプリです</h4>
  </div>
 </div><!--２段目終わり-->
 <div  class="w-100 d-flex wrap align-items-center justify-content-center bg-light" style="height: 400px;">
   <div class="w-50 d-flex justify-content-center">
     <div>
       <h3 class="mb-3"><span class="fas fa-heart text-danger"></span>自分のお気に入りの店舗を登録</h3>
       <h4 style="line-height: 2.5rem;">
         自分が普段使っている店舗を登録し<br>
         商品の「値段」や「店の情報」を登録できます
       </h4>
     </div>
   </div>
   <div class="w-50">
    <div class="appimage"></div>
   </div>
</div><!--3段目終わり-->
<div  class="w-100 d-flex wrap align-items-center justify-content-center" style="height: 400px;">
  <div class="w-50 d-flex justify-content-center">
  <div class="productimage"></div>
  </div>
  <div class"w-50">
  <h3><span class="fas fa-edit text-success"></span>登録した店舗ごとに商品を登録</h3>
  <h4 style="line-height: 2.5rem;">
    普段購入する商品を登録しておくことで直接店に行かなくても<br>
    店ごとの商品の比較をすることができます
  </h4>
  </div>
</div><!--4段目終わり-->
  <div class="w-100 d-flex wrap align-items-center justify-content-center bg-light" style="height: 400px;">
    <div class="w-50 d-flex justify-content-center">
      <div>
        <h3><span class="far fa-handshake text-primary"></span>他のユーザーとの共有</h3>
        <h4 style="line-height: 2.5rem;">
         他のユーザーと共有することで<br>
        自分の知らなかった店の情報を共有できます
        </h4>
      </div>
    </div>
    <div class="w-50">
     <div class="shopimage"></div>
    </div>
  </div><!--5段目終わり-->
  <div style="background-color:#FFFFF0;">
  <div class="w-100 d-flex flex-wrap align-items-center container pb-5">
    <div>
    <h3 class="text-center mb-5 mt-5">他にもこんな機能があります</h3>
    <div class="d-flex flex-wrap justify-content-center"><!--機能を横並びにする-->
      <div class="d-flex justify-content-center card heartimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">いいね機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "feacher_favorite" %>
         </div>
       </div>
      </div>
      <div class="d-flex justify-content-center card commentimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">コメント機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "homs/feacher_comment" %>
         </div>
       </div>
      </div>
      <div class="d-flex justify-content-center card dmimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">DM機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "feacher_message" %>
         </div>
       </div>
      </div>
      <div class="d-flex justify-content-center card noteimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">ブックマーク機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "feacher_bookmark" %>
         </div>
       </div>
      </div>
      <div class="d-flex justify-content-center card calenderimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">カレンダー機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "feacher_calender" %>
         </div>
       </div>
      </div>
      <div class="d-flex justify-content-center card vegimage" style="width:30vw; height:200px;">
       <div class="h-100 w-100">
         <h3 class="text-center mt-5 text-light">料理メモ機能</h3>
         <div class="d-flex justify-content-center mt-4">
         <%= render "feacher_cook" %>
         </div>
       </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="d-flex align-items-center justify-content-center"  style="height: 400px">
    <div>
      <h1 class="mb-4">さっそく使ってみよう！！</h1>
      <div class="d-flex justify-content-center">
      <%= link_to "新規登録",  new_user_registration_path, class:"btn btn-success mr-3" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-primary" %>
      </div>
    </div>
  </div>


