<% if @model == 'shop_name' %>
  <div class="col-2"></div>
  <div class="col-8 offset-2">
    <h3>店舗検索結果 "<%= @content %>"</h3>
    <h2 class='mt-5'>店舗一覧</h2>
    <table class="table table-bordered text-center mt-5">
      <thead class="thead-light">
        <tr><th>店舗ID</th><th>店舗名</th></tr>
      </thead>
        <% @records.each do |shop| %>
          <tbody>
            <tr>
              <td><%= shop.id %></td>
              <td></td>
              <td><%= shop.shop_name %></td>
            </tr>
          </tbody>
        <% end %>
        </table>
         <% if @records.count == 0 %>
         <div>
          <h4 class="d-flex align-items-center justify-content-center" style="height: 200px;">該当する会員はいません</h4>
        </div>
        <% end %>
<% elsif @model == 'address'%>
  <div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
     <h3 class="mt-3">住所検索結果 "<%= @content %>"</h3>
     <%#= render "searchs/favorited_search", shop: @records %> <!--いいね並び替え検索-->
      <h5 class="mt-3 mb-5 d-table" style="background-color: #e6e3de;">　店舗一覧　</h5>
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>店舗画像</th>
              <th>店舗名</th>
              <th>住所</th>

            </tr>
          </thead>
          <% @records.each do |shop| %>
            <tbody>
              <tr>
                <td><%= image_tag attachment_url(shop, :image, :fill, 80, 80, fallback: "no_image.jpeg"), size:'80x80' %></td>
                <td style="padding-top: 45px;"><%= shop.shop_name %></td>
                <td style="padding-top: 45px;"><%= shop.address %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <% if @records.count == 0 %>
         <div>
          <h4 class="d-flex align-items-center justify-content-center" style="height: 200px;">該当する商品はありませんでした</h4>
        </div>
        <% end %>
    </div>
  </div>
</div>
<% end %>