<div class="bglayout py-5">
<div class="container">
<h4>店舗編集</h4>
<%= form_with model: [@shop, @product], local:true do |f| %>
<table class="table table-borderless">
  <tr><th>商品画像</th><td><%= f.attachment_field :image, placeholder: "ファイルを選択" %></td></tr>
  <tr><th>商品名</th><td><%= f.text_field :product_name %></td></tr>
  <tr><th>商品メモ</th><td><%= f.text_area :product_memo, size: "20x5" %></td></tr>
  <tr><th>商品ジャンル</th><td><%= f.collection_select :genre_id, @shop.genres.all, :id, :name, { include_blank: "--選択してください--　" } %></td></tr>
  <tr><th>価格</th><td><%= f.text_field :price %></td></tr>
  <tr><th></th><td><%= f.submit "更新", class: "btn-float-border-new mt-3" %></td></tr>
</table>
<% end %>
</div>
</div>