<div class="bglayout py-5">
<div class="container">
<h4 class="my-4">店舗名：
<%#= link_to "", shop_path(@shop) do %>
  <%= link_to @shop.shop_name, shop_path(@shop) %>
<%# end %>
</h4>
  <div>商品一覧</div>
  <% if @shop.user == current_user %>
  <%= link_to '新規投稿', new_shop_product_path(@shop), class: "fas fa-plus mr-2" %>
  <%= link_to "ジャンル登録", new_shop_genre_path(@shop), class: "fas fa-plus" %>
  <% end %>
  <%= form_with url: shop_product_search_path(@shop), method: :get, local: true do |f| %>
    <%= f.text_field :content %>                                                                    <!--検索機能-->
    <%= f.select :model , options_for_select({ "商品名" => "product", "ジャンル" => "genre" }) %>
    <button type="submit" class="btn btn-sm btn-secondary">
      <i class="fas fa-search"></i> 検索
    </button>
  <% end %>
  <% if @products.exists? %>
  <div class="d-flex flex-wrap" style="width: 100%;">
   <% @products.each do |products| %>
    <div class="mt-4 mr-3 col-xs-6 col-md- 3">
    <div>
     <%= image_tag attachment_url(products, :image, fallback: "no_image.jpg"), size: '100x100' %>
    </div>
    <div class="text-wrap" style="width: 6rem;">
      <%= link_to shop_product_path(@shop, products) do %>
      <%= products.product_name %>
      <% end %>
    </div>
    <div><%= products.price %>円</div>
    </div>
    <% end %>
    </div>
    <%= paginate @products %>
  <% else %>
    <div class="d-flex align-items-center justify-content-center" style="height:500px">
      <h4> 投稿はありません</h4>
  <% end %>
    </div>
</div>
</div>
</div>