<div class="bglayout py-5">
<div class="notifications">
  <% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: key) %>
  <% end %>
</div>
<div class="container">
<h4 class="my-4">店舗名：<%= @shop.shop_name %></h4>
  <div>商品一覧</div>
  <%= link_to '新規投稿', new_shop_product_path(@shop), class: "fas fa-plus mr-2" %>
  <%= link_to "ジャンル登録", new_shop_genre_path(@shop), class: "fas fa-plus" %>
  <% if @products.exists? %>
  <div class="d-flex flex-wrap" style="width: 100%;">
   <% @products.each do |products| %>
    <div class="mt-4 mr-3">
    <div>
     <%= image_tag attachment_url(products, :image, :fill, 100, 100, fallback: "no_image.jpeg"), size:'100x100' %>
    </div>
    <div>
      <%= link_to shop_product_path(@shop, products) do %>
      <%= products.product_name %>
      <% end %>
    </div>
    <div><%= products.price %>円</div>
    </div>
    <% end %>
    </div>
    <%= paginate @products %>
  <% else %>
    <div class="d-flex align-items-center justify-content-center" style="height:500px">
      <h4> 投稿はありません</h4>
  <% end %>
    </div>
</div>
</div>
</div>