<div class="bglayout py-5">
<div class="container pt-5">
<h4 class="mb-5">商品新規登録</h4>
<%= form_with model: [@shop, @product], local:true do |f| %>
  <div class="form-group d-flex flex-wrap">
    <%= f.label :product_name, "商品名", class: "mr-4" %><br />
    <%= f.text_field :product_name %>
  </div>
  <div class="form-group d-flex flex-wrap">
    <%= f.label :product_memo, "商品メモ", class: "mr-3" %><br />
    <%= f.text_area :product_memo %>
  </div>
  <div class="form-group d-flex flex-wrap">
    <%= f.label :genre_id, "ジャンル", class: "mr-3" %><br />
    <%= f.collection_select :genre_id, @shop.genres.all, :id, :name, { include_blank: "--選択してください--　" } %>
  </div>
  <div class="form-group d-flex flex-wrap">
    <%= f.label :price, "値段", class: "mr-5" %><br />
    <%= f.text_field :price %>
  </div>
  <div class="form-group d-flex flex-wrap">
    <%= f.submit "新規登録", class: "btn-float-border-new mt-3" %>
  </div>
<% end %>
</div>
</div>
