<h4>商品新規登録</h4>
<table class="table table-borderless">
  <%= form_with model: [@shop, @product], local:true do |f| %>
  <tr><th>商品画像</th><td><%= f.attachment_field :image, placeholder: "ファイルを選択" %></td></tr>
  <tr><th>商品名</th><td><%= f.text_field :product_name %></td></tr>
  <tr><th>商品メモ</th><td><%= f.text_field :product_memo %></td></tr>
  <tr><th>ジャンル</th><td><%= f.collection_select :genre_id, @shop.genres.all, :id, :name, { include_blank: "--選択してください--　" } %></td></tr>
  <tr><th>税抜き価格</th><td><%= f.text_field :price %></td></tr>
  <tr><th></th><td><%= f.submit "新規登録" %></td></tr>
  <% end %>
</table>
