<div class="bg-dark row-12 d-flex flex-wrap py-2 FooterResponsive">
    <div class="col-md-7 col-sm-12 mt-3 text-center">
    <ul class="d-flex flex-wrap justify-content-center" style="line-height: 2.5rem;">
      <% if user_signed_in? %>
      <li class="li-item" style="font-size:30px;"><%= link_to "", notifications_path, class:"text-light far fa-bell mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", event_path(current_user), class:"text-light far fa-calendar-alt mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", shops_path, class:"text-light fas fa-store-alt mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", users_path, class:"text-light fas fa-users mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", user_cooks_path(current_user), class:"text-light fas fa-utensils mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", user_path(current_user), class:"text-light fas fa-user-edit mr-3" %></li>
      <li class="li-item" style="font-size:30px;"><%= link_to "", homs_about_path, class:"text-light fas fa-cog mr-3" %></li>
       <li class="li-item" style="font-size:30px;"><%= link_to "", destroy_user_session_path, method: :delete, class:"text-light fas fa-sign-out-alt mr-3" %></li>
      <% else %>
      <li class="li-item"><%= link_to "", homs_about_path, class:"text-light fas fa-toolboxl" %></li>
      <li class="li-item"><%= link_to "",  new_user_registration_path, class:"text-light fas fa-user-plus" %></li>
      <li class="li-item"><%= link_to "", new_user_session_path, class:"text-light fas fa-sign-in-alt" %></li>
      <% end %>
    </ul>
    <a href="#" class="btn-social-circle btn-social-circle--twitter">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#" class="btn-social-circle btn-social-circle--facebook">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="btn-social-circle btn-social-circle--pocket">
      <i class="far fa-envelope"></i>
    </a>
    <a href="#" class="btn-social-circle btn-social-circle--feedly">
      <i class="fa fa-rss"></i>
    </a>
    </div>
  <div class="col-md-5 col-sm-12">
    <div class="text-center ml-2">
    <div class="image-jaws mx-auto"></div>
      <h4 class="text-rogo text-light">KAIMONO JAWS</h4>
      <p class="text-sbrogo text-light">EASY TO USE NOTEPAD</p>
    </div>
    </div>
  </div>

